<html lang="en"><head>


    <style>
    
    #cont{
      background: -webkit-linear-gradient(335deg, #ff0030 0%,#9a0000 30%,#000000 60%, #00ffef 90%,#5e5e8a 95%);
      width: 250px;
      height: 250px;
      border-radius: 1000px;
      padding: 26px;
    }
    
    #box{
      background: white;
      width: 250px;
      height: 250px;
      border-radius: 1000px;
    }
    </style>
    </head><body style="
        padding: 0 0 0 0;
        margin: 0;
    ">
        <div style="
        height: 884px;
        width: 504px;
        background:black;
        background-size: 100% 100%;
        display: inline-block;
        padding: 0 0;
        background-image: url( <%= Data.BASEURL %>/assets/images/main.png);
    ">
   
            <span style="font-weight:600;left:230px;top:370px;color:black;font-size:135px;position: absolute;">3</span></div>
        
    
    
            <div id="cont" style="
        position: absolute;
        top: 291px;
        left: 98px;
    ">
                <div id="box"><div style="
        text-align: center;
        font-size: 152px;
        padding-top: 25px;
        font-weight: 600;
        font-family: cursive;
    "><%=countdown%></div></div>
              </div>
              
    </body></html>